div {
  background: #222;
  margin-bottom: 20px;
  color: white;
}

img {
  max-width: 100%;
}

/* Code Under This Line */

.short {
  padding-bottom: 100px;
}

.tall {
  padding-bottom: 200px;
}

html {
  min-height: 100%
}

.inside {
  height: 100%;
}

