p {
  line-height: 1.5;
  margin-bottom: 10px;
}

img {
  max-width: 100%;
}

.box {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

/* Your Code Goes Under This Line */

.box-subtle {
  -moz-box-shadow: 1px 1px 8px 1px rgb(0, 9, 0, .1);
  -webkit-box-shadow: 1px 1px 8px 1px rgb(0, 9, 0, .1);
  box-shadow: 1px 1px 8px 1px rgb(0, 9, 0, .1);
}
